<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Product Line</title>
</head>
<body>
    <div class="flex flex-col items-center justify-center relative w-full">
        <div th:replace="~{shared/navbar}"></div>

        <div th:replace="~{productlines/product-list :: productList(productlines=${productlines})}"></div>

        <div th:replace="~{productlines/create-btn}"></div>
        <div th:replace="~{productlines/modal :: modal(productLine=${productLine}, editMode=${editMode})}"></div>
    </div>
</body>
</html>